body{
  width: 768px;
  margin: 0 auto;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.introduce{
  background: url("./../images/header-background.jpg");
  height: 240px;
  background-size: cover;
  background-position: 50%;
}

.introduce__title{
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin: 0 auto;
  width: 60%;
  padding: 90px 0 0;
  line-height: 1.2;
}


.block{
  text-align: center;
  margin: 50px 0 0 0;
}

.block__title{
  font-weight: 700;
  color: #AB0800;
  font-size: 32px;
}

.block__subtitle{
  font-weight: 300;
  font-size: 17px;
  line-height: 1.2;
  max-width: 70%;
  margin: 25px auto 0;
}

.block__destination{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin: 55px auto 0;
  max-width: 87%;
}

.destination-item{
  position: relative;
  width: 184px;
  height: 184px;
  background: red;
}

.destination__title{
  color: #AD423C;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  margin: 20px 0 0;
}

.destination__subtitle{
  color: #555555;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 300;
  width: 80%;
  display: block;
  margin: 5px auto 0;
}

.destination__image{
  width: 184px;
  position: relative;
  margin: 0 auto;
}

.destination__image img{
  width: 100%;
}

.destination__image:before{
  content: "";
  display: inline-block;
  width: 184px;
  height: 184px;
  background: #F04A6F;
  opacity: 0.7;
  position: absolute;

  transition: all 2s;
  opacity: 0;
/*  display: none;*/
}

.destination-item_hover{
  position: absolute;
  width: 100%;
  color: white;
  font-size: 15px;
  padding: 50px 20px 0;
  box-sizing: border-box;
  z-index: 1;
  opacity: 0;

  transition: all 0.5s;

/*  display: none; = opactity: 0;*/
}

.destination-hover__title{
  font-weight: 700;
  margin: 20px 0 0 0;
}

.destination-hover__subtitle{
  display: block;
  margin: 10px 0 0 0;
}


.destination-item:hover .destination-item_hover,
.destination-item:hover .destination__image:before{
  /*display: block;*/
  opacity: 1;
}
